.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    background: #fff;
    color: #000;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #080808;
}

.logo{
    width: 13%;
    height: 125px;
    border-bottom: 1px solid;
}

.empresa{
    width: 70%;
    height: 125px;
    border-bottom: 1px solid;
}

.telefones{
    width: 17%;
    height: 125px;
    border-bottom: 1px solid;
}
.numero-ordem{

    height: 40px;
    border-bottom: 1px solid;
}

.problemas{

    border-bottom: 1px solid;
}
.cliente{

    border-bottom: 1px solid;
}



.title{
    font: 800 2em "Open Sans";
    margin: 20px 4px;
    color: #80bc12;
}
.events{
    text-align: center;
    margin-bottom: 50px;
}
.events img{

    width: 250px;
    height:200px;
}
.events h2{
    font: 200 1em "Open Sans";
    margin: 6px;
    text-transform: uppercase;
}
.events a{

    text-decoration: none;
    padding: 6px 85px;
    max-width: 100%;
}

.name-event {
    width: 250px;
    height: 50px;
    text-align: center;
    margin: auto;

}










